[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
PyMySQL = "*"
google-cloud-trace = "*"
google-auth = "*"
opencensus = "*"
opencensus-ext-flask = "*"
opencensus-ext-stackdriver = "*"
opencensus-ext-pymysql = "*"

[requires]
python_version = "3.7"
